.bug-component {
    box-sizing: border-box;
    background-color: pink;
    border-radius: 12px;
    padding: 20px;
    color: black;
    &__text{
        font-weight: 700;
        font-size: x-large;
    }
}